* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: serif;
}

body {
    background: #c6c6c6; /* Old browsers */
    background: -moz-linear-gradient(top, #c6c6c6 0%, #d3d3d3 50%, #dedede 69%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(50%,#d3d3d3), color-stop(69%,#dedede), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c6c6c6 0%,#d3d3d3 50%,#dedede 69%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c6c6c6 0%,#d3d3d3 50%,#dedede 69%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c6c6c6 0%,#d3d3d3 50%,#dedede 69%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c6c6c6 0%,#d3d3d3 50%,#dedede 69%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
}

.header div {
    margin: 0;
    padding: 0;
}
.header div img {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

.nav ul {
    list-style: none;
    //text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000;
}

.nav ul li {
    display: inline-block;
    min-width: 6em;
    max-width: 20em;
    width: 24.72%;
    text-align: center;
    padding-bottom: 0.01em;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 1em 0 0.7em;
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 0.25em black;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.nav ul li a:hover,
.nav ul li a:active,
.nav ul li a.active {
    color: #ffd60c;
    border-bottom-color: #ffd60c;
}

.contentbody div{
    display: inline-block;
    vertical-align: top;
}

.main {
    width: 69%;
    padding: 0.25em 1.5em;
}

.main h1 {
    color: #ffd60c;
}

p {
    text-align: justify;
}

.main p a {
    color: #cc0000;
}

.main p a img {
    height: 32px;
    width: 32px;
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: solid 2px #ccc;
    padding-bottom: 0.5em;
}

.sidebar {
    width: 30%;
    padding: 1.5em 1.5em;
    margin: 0 auto;
}

.sidebar h2 {
    border-bottom: none;
    color: #ffd60c;
    font-size: 1.5em;
    margin-bottom: 1px;
}

.sidebar img {
    width: 100%;
}

.sidebar p {
    margin: 1px;
}

.footer {
    border-top: solid 2px #000;
}
.footer .columns {
    display: inline-block;
    width: 16%;
    padding: 0.5em;
    color: #888;
    vertical-align: top;
    font-size: 0.8em;
}

.footer .columns:first-child {
    padding-left: 1.25em;
    text-align: justify;
}

.columns a {
    color: inherit;
}

.columns ul {
    list-style: none;
}
.columns li:first-child {
    font-weight: 600;
    color: #000;
}

.footerlinks {
    background: #000;
    height: 1.5em;
    color: #fff;
    text-align: right;
    padding: 4px 2px;
}
.footerlinks a {
    min-width: 4em;
    display: inline-block;
    color: inherit;
    border-left: solid 1px #fff;
    padding:0 0.5em;
    text-decoration: none;
}
.footerlinks a:first-child {
    border-left: none;
}