html {
    font-size: 16px;
    font-family: serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header div {
    margin: 0;
    padding: 0;
}
.header div img {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

.nav ul {
    list-style: none;
    //text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000;
}

.nav ul li {
    display: inline-block;
    min-width: 6em;
    max-width: 20em;
    width: 24.72%;
    text-align: center;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 1em 0 0.75em;
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 0.25em black;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.nav ul li a:hover,
.nav ul li a:active,
.nav ul li a.active {
    color: #ffd60c;
    border-bottom-color: #ffd60c;
}

.contentbody div{
    display: inline-block;
}

.main {
    width: 68%;
    padding: 2px;
}

.main h1 {
    color: #ffd60c;
}

.main p {
    text-align: justify;
}

.main p a {
    color: #cc0000;
}
.hero-para {
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: solid 2px #ccc;
}